body{
    text-align: center;
    font-family: "Open Sans", sans-serif;
	color: #454545;
	font-size: 16px;
	margin: 2em auto;
	max-width: 800px;
	padding: 1em;
	line-height: 1.4;
	background-color: #454545;
}
#board{
    background-color: #fefefe;
    /* border-top: 5px solid #ab4642 ;
    border-right: 5px solid #ab4642 ;
    border-left: 5px solid #ab4642 ;
    border-bottom: 5px solid #ab4642 ; */
   
    .roboto-regular {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
}

input[type=number]{
  /* -moz-appearance: textfield; */
    border: #fefefe;
    border-radius: 10%;
    background-color: #454545;
    color: #fefefe;
    font-size: 20;
    border-width: 5px;
   
}

label{
    display: inline-block;
    font-size: 16px;

}